
.product-card {
    max-width: 210px;
    max-height: fit-content;
    margin: 10px;
    padding: 0px;
    
  }
.mat-card-title{
  margin-left: 5px;
  text-transform: capitalize;
}

.mat-card-actions {
  margin: 0px;
  padding: 0px;
}
  