
.example-card {
    max-width: 210px;
    margin: 5px;
    padding: 5px;
  }
.mat-card-title{
  margin-left: 5px;
  text-transform: capitalize;
}
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }