
<mat-card class="product-card mat-elevation-z8 " *ngIf="product" >
  <div class="ripple-class" 
  matRipple
  [matRippleColor]="color"
  (click)="goToDescription()"
  >  
  <img mat-card-image [src]="product.image" alt="pokemon image">
    <mat-card-content>

        <mat-card-title> 
          {{product.getPrice() | currency:'BRL':'symbol-narrow':'.2'}}
        </mat-card-title>
        <mat-card-subtitle>
          <h2>{{ product.name }}</h2>
        </mat-card-subtitle>
        
    </mat-card-content>
  </div>
    <mat-card-content>
      <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
{{ product.name }}
</mat-panel-title>
<mat-panel-description>
description
</mat-panel-description>
</mat-expansion-panel-header>
<p>
The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
A small, agile dog that copes.
</p>
</mat-expansion-panel>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button (click)="addItemToCard()">ADD TO CART</button>
    </mat-card-actions>
  </mat-card>



