.mat-card{
    margin: 5px;
    min-width: fit-content;
    
}
 input{
    margin: 0px;
    padding: 0px;
    width: 2ch;
    outline: 0px;
    font-size: 14px;
    border: 0px;
} 
.mat-card-avatar{
    background-size: contain;
    height: 100px;
    width: 100px;
}