
<div class="img-and-aside">
  <mat-card class="overview-image-card" [ngClass]="elevation">
    <img mat-card-image [src]="product.image" alt="pokemon image">
  </mat-card>

  <mat-card class="resume-card" [ngClass]="elevation">
    <mat-card-title> 
      {{product.name}}
    </mat-card-title>
    <mat-card-subtitle *ngFor="let type of getTypes()">
      <h2>slot {{type.slot}} type: {{ type.type.name }}</h2>
    </mat-card-subtitle>

    <mat-card-content>
      <div *ngFor="let group of pokemonSpecieStats.egg_groups">
        Specie: {{group.name}}
      </div>
      <div>
        habitat: {{pokemonSpecieStats.habitat.name}}
      </div>
    </mat-card-content>
    <mat-card-content>
      <mat-card-title>
        {{ product.getPrice() | currency:'BRL':'symbol-narrow' }}
      </mat-card-title>
    </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="addItemToCart()">ADICIONAR AO CARRINHO</button>
      </mat-card-actions>
 
  </mat-card>
</div>

<div class="description">
  <mat-card>
    <mat-card-content>
        <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        <mat-expansion-panel-header>
        <mat-panel-title>{{ product.name }}</mat-panel-title>
        <mat-panel-description>
          <b>description:</b>
        </mat-panel-description>
        </mat-expansion-panel-header>
          <article>
            <div *ngFor="let text of pokemonSpecieStats.flavor_text_entries">
              <p *ngIf="text.language.name == 'en'">{{ text.flavor_text }}</p>
            </div>
          </article>
        </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
  
  
